body
{
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif, bold;
	margin : auto;
	padding-top: 30%;
	
}

form
{
	display: inline-flex;
	padding-left: 25%;
	padding-bottom: 1em;
}

input
{
	border: 1px solid #444;
	margin-right: 1em;
	height: 40px;
	font-size: 26px;
	transition: 2s;
	box-shadow: inset rgba(0,0,0,0.35) 2px 2px 12px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

input:focus
{ 
	outline: 0;
   	box-shadow: inset rgba(0,0,0,0.35) 2px 2px 12px, #0B8CB8 0 0 10px;
   	border: 1px solid #0B8CB8;
   	transition: 1s;
}

input:hover
{
	border: 1px solid #999	
}

img
{
	padding-right: 10px;
}

#affichage-photos
{
	display: inline-flex;
	margin-left: 0;
}

#commune
{
	width: 400px;
}

#nb-resultats
{
	width: 50px;
}

#nb-resultats:focus
{
	transition: 1s;
	width:300px;
}
