/*--Feuille de style général--*/
html /*FAIT pour entete.php*/
{
	/*background-image : url("../image/Locked.jpg"); /*Appel de l'image en fond d'écran*/
	background-repeat : no-repeat;
	background-size: cover;
	background-attachment : fixed; /*permet de ne pas faire défiler le background lors du scroll*/
	font-family : Arial, "Times New Roman","Comic sans MS", sans-serif; /*Sert à définir la police à utiliser dans la page web*/
	/*background-position: center top;*/
	height: 100%;
}

header /*FAIT pour entete.php*/
{
	background-color : black;
	width: 100%;
	opacity : 0.80;
	text-align : center;
	padding: 0em auto 0em auto;
	position: fixed;
	z-index: 1;
	top : 0;
}

header ul li /*FAIT pour entete.php*/
{
	display : inline;
}

header ul li img /*FAIT pour entete.php*/
{
	padding-right : 10px;
	margin-top: -1em;
	margin-bottom: -1em;
}

body /*FAIT pour identification.php, entete.php*/
{
	padding : 0;
	margin : 0;
	position: relative;
	z-index: 2
}

div.corps /*FAIT pour choix.php*/
{
	padding : 0 3%; /*avant  0 3% 2% -> léger scroll*/
	margin : 6em auto;
	width : 50%;
	border : 1px solid black;
	color : white;
	background-color : rgba(0, 0, 0, 0.75);
	box-shadow : 0px 0px 50px black;
}

div.corpsJeux
{
	padding : 0 3%; /*avant  0 3% 2% -> léger scroll*/
	margin : 6em auto;
	width : 50%;
	border : 1px solid black;
	color : white;
	background-color : rgba(0, 0, 0, 0.75);
	box-shadow : 0px 0px 50px black;
	text-align: center;
}

h1.contenu
{
	text-align: center;
	border: 1px solid white;
	background-color: rgba(0,0,0,0.50);
	border-radius: 5px;
}

p
{
	text-align: justify;
}

a /*FAIT pour entete.php*/
{
	text-decoration : none;
	color: white;
}

a.lien
{
	text-shadow: 0px 0px 2px grey;
	text-decoration: underline;
}

a:visited
{
	color : white;
}

li.header /*FAIT pour entete.php*/
{
	font-size : 150%;
	color : white;
	padding : 0.72em 0.5em 0.72em 0.5em;
	margin : -2px;
}

li.headerSelect /*FAIT pour entete.php*/
{
	font-size : 150%;
	color : white;
	padding : 0.72em 0.5em 0.72em 0.5em;
	margin : -2px;
	border-bottom: 3px solid white;
}

li.header:hover /*FAIT pour entete.php*/
{
	background-color : gray;
	padding : 0.72em 0.5em 0.72em 0.5em;
	transition : 0.5s;
}

li.header:hover ul /*FAIT pour entete.php*/
{
	display: block;
	background-color: black;
	opacity : 0.85;
}

ul.menu /*FAIT pour entete.php*/
{
	display: inline-flex;
}

legend
{
 	background-color: rgba(0,0,0,0.80);
 	border: 2px solid white;
 	border-radius: 5px;
 	width: 50%;
 	margin: 1%;
 	padding: 1%;
}

input:not([type=checkbox]), textarea /*FAIT pour identification.php*/
{
    border: 1px solid #444;/* Bordure gris sombre */
    border-radius: 3px;/* Coins arrondis */
    background: rgba(255, 255, 255, 0.1);/* Fond blanc très légèrement transparent */
    box-shadow: inset rgba(0,0,0,0.35) 2px 2px 12px;/* Légère ombre à l'intérieur du champ, pour donner de la profondeur */
    /* Ajouter une transition progressive, pour toutes les propriétés (all) */
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}

input:hover, textarea:hover/*FAIT pour identification.php*/
{
    border: 1px solid #999; /* Bordure légèrement plus claire */
}

input:not([type=checkbox]):focus, textarea:focus/*FAIT pour identification.php*/
{
    color: black;
    border: 1px solid #0B8CB8;/* Bordure bleu électrique */
    box-shadow: inset rgba(0,0,0,0.35) 2px 2px 12px, #0B8CB8 0 0 10px; /* La même ombre à l'intérieur (inset) + une ombre bleu électrique à l'extérieur */
    outline: 0;/* Désactiver la bordure par défaut (bleu clair sur chrome) */
}

/*--Feuille de style choix--*/
div.container
{
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 130px;
}

img.imgbox
{
	margin-left: 20%;
}

.container .textbox
{
	width: 130px;
	height: 73px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -80px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.75);
	-webkit-box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,0.75);
	box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,.75);
}

.container:hover .textbox
{
	margin-top:0;
}

.text
{
	padding-top: 10px;
	text-align: center;
}

.textbox
{
	-webkit-transition: all 0.7s ease;
	transition: all 0.5s ease;
}

#choix, #choix legend
{
 	background-color: rgba(0,0,0,0.30);
 	margin: 1%;
 	padding: 1%;
 	border-radius: 5px;
	border: 2px solid white;
}

#choix
{
	margin-top: 1em;
}

/*--Feuille de style contact--*/

#id, #id legend, #msg, #msg legend
{
 	background-color: rgba(0,0,0,0.30);
 	margin: 1%;
 	padding: 1%;
 	border-radius: 5px;
	border: 2px solid white;
}

#contact ul li
{
  	background-color: rgba(0,0,0,0.50);
  	border-radius: 5px;
  	list-style: none;
  	padding: 1% 2%;
  	margin-bottom: 0.5%;
  	width: 75%;
}

#contact label:not([for=civilite])
{
	float: left;
 	width: 25%;
}

#contact input:not([type=radio])
{
	background-color: #DEDEDE;
	padding: 1%;
	width: 60%;
}

textarea
{
  	background-color: #DEDEDE;
  	padding: 1%;
  	width: 60%;
}



/*--Feuille de style identification FAIT--*/
div.identification
{
	background-color: rgba(223,223,223, 0.50);
	box-shadow: 0px 0px 15px;
	border-top: solid grey 1px;
	border-bottom: solid grey 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20em;
	padding-left: 40%;
	padding-right: 40%;
	padding-top: 2em;
	padding-bottom: 2em;
	height: 10em;
}

table.identification
{
	border: solid black 1px;
}

/*input[type=text]
{
  	border-radius: 25;
  	-webkit-appearance: none;
}*/

input {
  	width : 150px;
  	margin: 0;
    box-sizing: border-box;
}


/*--Feuille de style de chargement.php--*/
div.chargement
{
	background-color: rgba(223,223,223, 0.50);
	box-shadow: 0px 0px 15px;
	border-top: solid grey 1px;
	border-bottom: solid grey 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20em;
	padding-left: 40%;
	padding-right: 40%;
	padding-top: 2em;
	padding-bottom: 2em;
	height: 10em;
}

h1.chargement{
	animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
	from {
      margin-left: 100%;
      width: 300%
    }
    
    to {
      margin-left: 0%;
      width: 100%;
    }
}

/*--Feuille de style de chgtMDP.php--*/
#formulaireAdministration ul li, #formulaireChat ul li
{
  	background-color: rgba(0,0,0,0.50);
  	border-radius: 5px;
  	list-style: none;
  	padding: 1% 2%;
  	margin-bottom: 0.5%;
  	width: 75%;
}

#informations, #informations legend
{
 	background-color: rgba(0,0,0,0.30);
 	margin: 1%;
 	padding: 1%;
 	border-radius: 5px;
	border: 2px solid white;
}

#formulaireAdministration label:not([for=administrateur])
{
	float: left;
 	width: 30%;
}

#formulaireAdministration input:not([type=checkbox])
{
	background-color: #DEDEDE;
	padding: 1%;
	width: 60%;
}

/*--Feuille de style de chat.php--*/
#formulaireChat label
{
	float: left;
 	width: 30%;
}

#formulaireChat input:not([type=submit])
{
	background-color: #DEDEDE;
	padding: 1%;
	width: 60%;
}

#formulaireChat input.chat
{
	background-color: #DEDEDE;
	padding: 1%;
	margin-right: 10%;
	margin-left: 10%;
	width: 60%;
}

/*--Feuille de style de aide.php--*/
h2.contenu
{
	text-align: center;
	border: 1px solid white;
	background-color: rgba(0,0,0,0.30);
	border-radius: 5px;
	margin-right: 1em;
	margin-left: 1em;
}

h3.aide
{
	display: inline;
}

/*--Feuille de style des jeux--*/
table.jeux
{
	border: 1px solid white;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 1em;
}

/*--Feuille de style database.php--*/
div.fichier
{
	display: inline-flex;
	width: 100%
}

div.local, div.serveur
{
	width: 50%;
	border: 2px solid white;
	border-radius: 3px;
}

table.selectDatabase
{
	width: 100%;
	border: 2px solid white;
	border-radius: 3px;
	margin-bottom: 1em;
}

td.selectDatabase
{
	width: 50%;
}

input.selectDatabase
{
	background-color: #DEDEDE;
	padding: 2%;
	width: 100%;
}